# Probability

In [1]:
#probability of getting 3 when a die is rolled
ns = 6 #n(s) = {1,2,3,4,5,6}no. of sample space
na = 1 #n(a) = {3}no. of prefered outcome
pa = na/ns # p(a)
print("probability of getting 3 is : " , pa)

probability of getting 3 is :  0.16666666666666666

In [2]:
#probability of atleast getting one head when a coin is tossed thrice
ns = 8 #n(s) = {hhh,thh,hth,hht,ttt,htt,tht,tth}no. of sample space
na = 7 #n(a) = {hhh,thh,hth,hht,htt,tht,tth}no. of prefered outcome
pa = na/ns # p(a)
print("probability of atleast getting one head when a coin is tossed thrice : " , pa)

probability of atleast getting one head when a coin is tossed thrice :  0.875

In [3]:
# A glass jar contains 5 red ,3 blue & 2 green jelly beans. 
# if the jelly bean is chosen at random from the jar,
# what is the probability that it is not blue? 
ns = 10 #n(s) no. of sample space = total no. of jelly
na = 7 #n(a) no. of prefered outcome = total jellies which are not blue
pa = na/ns # p(a)
print("probability that it is not a blue bean : " , pa)

probability that it is not a blue bean :  0.7

In [4]:
#If the probability that A will be alive in 20 years is 0.7 and the probability that B will be alive in 20 years is 0.5.
#What is the probability that both will be alive in 20 years?
#these are independent events, so
p=0.7*0.5
print("probability that both will be alive in 20 years is : " ,p )

probability that both will be alive in 20 years is :  0.35

In [5]:
# probability to find probability
def event_probability(n,s):
    return n/s

In [6]:
# A fair die is tossed twice. Find the prob. of getting a 4 or 5 on the first toss & a 1,2 or 3 in second toss.
pa = event_probability(2,6) 
pb = event_probability(3,6)
p = pa*pb # this two are independent event
print("prob. of getting a 4 or 5 on the first toss & a 1,2 or 3 in second toss.: " , p)

prob. of getting a 4 or 5 on the first toss & a 1,2 or 3 in second toss.:  0.16666666666666666

In [7]:
# A bag contain 5 white marbles, 3 balck marbles & 2 green marbles. 
# In each draw, a marble is drawn from the bag and not replaced. 
# In three draws, find the probability of obtaining 
# white,black and green in that order
pw = event_probability(5,10) 
pb = event_probability(3,9) 
pg = event_probability(2,8)
print("probability of obtaining white,black and green in that order is : " , (pw*pb*pg))

probability of obtaining white,black and green in that order is :  0.041666666666666664

In [8]:
# sample space
cards = 52

# calculate the probability of heart or a club
hearts = 13
clubs = 13
heart_or_club = event_probability(hearts,cards) + event_probability(clubs,cards)
print(heart_or_club)

0.5

In [9]:
# calculate the probability of drawing an ace, king or a queen

aces = 4
kings = 4
queens = 4
ace_king_or_queen = event_probability(aces,cards) + event_probability(kings,cards) + event_probability(queens,cards) 
print(ace_king_or_queen)

0.23076923076923078

In [10]:
# calculate the probability of heart or an ace
hearts = 13
aces = 4
ace_of_hearts = 1
heart_or_ace = event_probability(hearts,cards) + event_probability(aces,cards) - event_probability(ace_of_hearts,cards)
print(round(heart_or_ace,1))

0.3

In [11]:
#calculate the probability of drawing red cards or face cards

red_cards = 26
face_cards = 12
red_face_cards = 6
red_or_face_cards =  event_probability(red_cards,cards) + event_probability(face_cards,cards) - event_probability(red_face_cards,cards) 
print(round(red_or_face_cards,1))

0.6

In [12]:
#probability of not getting 5 when a die is rolled
ns = 6 #n(s) = {1,2,3,4,5,6}no. of sample space
na = 1 #n(a) = {3}no. of prefered outcome
pa = na/ns # p(a)
print("probability of getting 5 is : " , 1-pa)

probability of getting 5 is :  0.8333333333333334

# Conditional Probability

In [13]:
#suppose you draw 2 cards from deck.
#you win if you get ace given that you draw a jack in first draw
cards = 52
j = 4
ace = 4
pj = event_probability(j,52) 
pa = event_probability(ace,51)
pa_given_j=(pj*pa)/pj
print(pa_given_j)

0.0784313725490196

In [19]:
import numpy as np
import pandas as pd
df=pd.read_csv("student-mat - student-mat.csv")
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10

In [20]:
len(df)

395

In [21]:
df.tail(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [ ]:
#calculate The probability a student get an A(80% +)in maths, given they miss 10 or more classes.

In [27]:
df['grades_A']=np.where(df['G3']*5 >=80,1,0)

In [28]:
df['high_absenses']=np.where(df['absences'] >=10,1,0)

In [29]:
df['count']=1

In [30]:
df=df[['grades_A','high_absenses','count']]
df.head()

   grades_A  high_absenses  count
0         0              0      1
1         0              0      1
2         0              1      1
3         0              0      1
4         0              0      1

In [31]:
final=pd.pivot_table(
    df,
    values='count',
    index=['grades_A'],
    columns=['high_absenses'],
    aggfunc=np.size,
    fill_value=0
)


print(final)

high_absenses    0   1
grades_A
0              277  78
1               35   5

In [39]:
pa = ((final.iloc[1,0]+final.iloc[1,1])/(final.iloc[1,0]+final.iloc[1,1]+final.iloc[0,0]+final.iloc[0,1]))
pa

0.10126582278481013

In [40]:
pb = ((final.iloc[0,1]+final.iloc[1,1])/(final.iloc[1,0]+final.iloc[1,1]+final.iloc[0,0]+final.iloc[0,1]))
pb

0.21012658227848102

In [41]:
pa_b = ((final.iloc[1,1])/(final.iloc[1,0]+final.iloc[1,1]+final.iloc[0,0]+final.iloc[0,1]))
pa_b

0.012658227848101266

In [42]:
a_given_b=pa_b/pb
a_given_b

0.060240963855421686

In [47]:
print('The probability a student get an A(80% +)in maths, given they miss 10 or more classes is :' ,round(a_given_b,2)*100)

The probability a student get an A(80% +)in maths, given they miss 10 or more classes is : 6.0